<div class="gv-interactive">
	{{#trips}}
	<div class="gv-trip">
		<div class="gv-context-chart"><div class="gv-outer"><div class="gv-inner" style= "height:{{squareside}};width:{{squareside}}"></div></div></div>
		<div class="gv-date">{{displayDate}}</div>
		<h3>{{country}}</h3>
		<div class="gv-trip-chart-wrapper">
			<div class="gv-trip-chart" data-angle={{inclination}}>
				<div class="gv-chart-wrapper gv-left">
					<div class="gv-bar gv-imports" style="width:{{iwidth}}" data-label="{{importsLabel}}"></div>
				</div>
				<div class="gv-chart-wrapper gv-wrapper--exports">
					<div class="gv-bar gv-exports" style="width:{{ewidth}}" data-label="{{exportsLabel}}"></div>
				</div>
			</div>
		</div>
		<div class="gv-reason">{{reason}}</div>
		<div class="gv-fulcrum"></div>
	</div>
	

	{{/trips}}

</div>