$garnett-neutral-1: #121212;
$garnett-neutral-2: #999999;
$garnett-neutral-3: #f6f6f6;
$garnett-neutral-4: #dcdcdc;
$garnett-neutral-5: #ffffff;
$garnett-neutral-6: #767676;
$garnett-neutral-7: #444444;
$garnett-neutral-8: #eaeaea;


$news-garnett-main-1: #c70000; //used for kicker
$news-garnett-feature: #880105; //used for feature head
$news-garnett-media-main-1: #ff4e36; // used for kicker on media
$news-garnett-highlight: #ffe500; // highlight colour

$opinion-garnett-main-1: #e05e00;
$opinion-garnett-feature: #bd5318;
$opinion-garnett-media-main-1: #ff7f0f;
$opinion-garnett-background: #fef9f5;

$sport-garnett-main-1: #0084c6;
$sport-garnett-feature: #005689;
$sport-garnett-media-main-1: #00b2ff;

$culture-garnett-main-1: #a1845c;
$culture-garnett-feature: #6b5840;
$culture-garnett-media-main-1: #eacca0;

$lifestyle-garnett-main-1: #bb3b80;
$lifestyle-garnett-feature: #7d0068;
$lifestyle-garnett-media-main-1: #ffabdb;
