@import "mq";
@import "fonts";
@import "palette";

$red1: #cc0a11;
$red2: #ff4e36;
$blue1: #056da1;
$blue2: #00b2ff;

$exports:$red2;
$goodsOut: #ff4e36;
$imports: #056da1;
$servicesOut:$blue2;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-trip-chart {
    transition: transform 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.gv-interactive {

    .gv-context-chart {
        height:50px;
        width:50px;
        position: relative;
        float: left;
        display: none;
        margin-right: 20px;

        .gv-inner {
            background-color: #f5be2c;
            border-right: 2px solid #000;
            border-top: 2px solid #000;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
        }

        .gv-outer {
            height: 100%;
            width: 100%;
            // background-color: #f6f6f6;
            border: 2px solid #000;
            position: relative;
            bottom: 0;
        }
    }
    
    .gv-fulcrum {
        font-size: larger;
        left: calc(50% - 6.5px);
        position: absolute;
        margin-top: -10px;
    }

    .gv-trip-chart {
        // margin-left: 70px;
        margin-top: 6px;
        .gv-chart-wrapper {
            width:100%;
            margin: 0px;
            // min-height: 100px;
            height: 12px;
            margin-bottom: 4px;
            // margin-top: 2px;

            &::before {
                content: 'Imports';
                float: left;
                @include fs-textSans(1);
                font-weight: bold;
                color: #ff4e36;
                margin-right: 5px;
                // margin: 0;
                display: inline-block;
                width: 45px;
            }

            &.gv-wrapper--exports {
                &::before {
                    content: 'Exports';
                    color: #056da1;
                }
            }
        }


        .gv-bar {
            display: block;
            height: 8px;
            margin: 0px;
            border: 2px solid #000;
            transform: translateY(2px);
            // box-sizing: border-box;
            &.gv-imports {
                background-color:$exports;
                float: left;
            }

            &.gv-exports {
                background-color:$imports;
                float: left;
            }

            &::after {
                content: attr(data-label);
                @include fs-textSans(1);
                color: #333;
                display: block;
                width: 100px;
                float: right;
                margin-top: -3px;
                transform: translateX(100%);
                transform: translateX(calc(100% + 5px));
            }

        }
    }

    .gv-trip-details {
        border-top: 1px dotted #dcdcdc;
        margin-bottom: 20px;
    }

    .gv-trip {
        margin-bottom: 12px;
        padding-top: 2px;

        h3 {
            @include fs-headline(2);
            // font-weight: bold;
            margin-bottom: 0px;
        }
    
    }

    .gv-country {
        padding-top: 2px;

    }

    .gv-country:before {
        content:'';
        width: 100px;
        height:1px;
        background: #aaa;
        position: absolute;
    }


    .gv-reason {
            // margin-left: 70px;
            margin-top: 12px;
            @include fs-bodyCopy(2)
    }

    .gv-notes {
        margin-top: 12px;
        @include fs-bodyCopy(1)
    }

    .gv-date {
        @include fs-header(2);
        font-weight: bold;
        margin-bottom: 0px;
    }
    


}
