@import "mq";
@import "fonts";
@import "palette";
@import "colours";

$red1: #cc0a11;
$red2: #ff4e36;
$blue1: #056da1;
$blue2: #00b2ff;

$exports: $news-garnett-main-1;
$goodsOut: $news-garnett-main-1;
$imports: $garnett-neutral-1;
$servicesOut:$blue2;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.gv-interactive {
    
    .gv-fulcrum {
        font-size: larger;
        left: calc(50% - 6.5px);
        position: absolute;
        margin-top: -10px;
    }


    .gv-trip-chart {
        // margin-left: 70px;
        margin-top: 6px;
        .gv-chart-wrapper {
            width:100%;
            margin: 0px;
            // min-height: 100px;
            height: 12px;
            margin-bottom: 4px;
            // margin-top: 2px;

            &::before {
                content: 'Imports';
                float: left;
                @include fs-textSans(1);
                font-weight: bold;
                color: $imports;
                margin-right: 5px;
                // margin: 0;
                display: block;
                width: 100%;
            }

            &.gv-wrapper--exports {
                margin-top: 20px;
                &::before {
                    content: 'Exports';
                    color: $exports;
                }
            }
        }


        .gv-bar {
            display: block;
            height: 14px;
            margin: 0px;
//            border: 2px solid #000;
            transform: translateY(2px);
            // box-sizing: border-box;
            &.gv-imports {
                background-color:$imports;
                float: left;
            }


            &.gv-exports {
                background-color:$exports;
                float: left;
            }

            &::after {
                content: attr(data-label);
                @include fs-textSans(1);
                color: #333;
                display: block;
                width: 100px;
                float: right;
                margin-top: 0px;
                transform: translateX(100%);
                transform: translateX(calc(100% + 5px));
            }

            &.gv-major {
                    &::after {
                        content: attr(data-label);
                        @include fs-textSans(1);
                        font-weight: bolder;
                        color:white;
                        display: block;
                        width: 100px;
                        float: left;
                        margin-top: 0px;
                        margin-left: 3px;
                        transform: none;
                    }
            }

        }
    }

    .gv-trip-details {
        border-top: 1px solid $garnett-neutral-4;
        margin-top: 40px;
    }

    .gv-trip {
        margin-bottom: 12px;
        padding-top: 2px;

        h3 {
            @include fs-headline(2);
            font-weight: 400;
            margin-bottom: 0px;
        }
    
    }

    .gv-country {
        padding-top: 14px;

    }

    .gv-country:before {
        content:'';
        width: 100px;
        height:1px;
     //   background: #aaa;
        position: absolute;
    }


    .gv-reason {
            // margin-left: 70px;
            margin-top: 2px;
            margin-bottom: 9px;
            @include fs-bodyCopy(1)
    }

    .gv-notes {
        clear: both;
        margin-top: 32px;
        @include fs-textSans(1)
    }

    .gv-date {
        @include fs-headline(2);
//        font-weight: bold;
        margin-bottom: 1em;
           }
    
    .gv-mileage {
        @include fs-textSans(1);
        border-bottom: 1px solid $garnett-neutral-4;
    }

    .gv-mileage-left {
        padding-right: 40px;
    }

    .gv-mileage-left:after{
        content:"|";
        color: $garnett-neutral-4;
        font-size: larger;
        position: relative;
        right: -20px;
        bottom: -3px;
    }

    .gv-mileage-value {
        font-weight: bolder;
    }


}
