@import "mq";
@import "fonts";
@import "palette";

$red1: #cc0a11;
$red2: #ff4e36;
$blue1: #056da1;
$blue2: #00b2ff;

$exports:$red2;
$goodsOut: #ff4e36;
$imports: #056da1;
$servicesOut:$blue2;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-trip-chart {
    transition: transform 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.gv-interactive {

    .gv-context-chart {
        height:100px;
        width:100px;

        .gv-inner {
            background-color: $red1;
        }

        .gv-outer {
            height: 100%;
            width: 100%;
            background-color: grey;
        }
    }
    
    .gv-fulcrum {
        font-size: larger;
        left: calc(50% - 6.5px);
        position: absolute;
        margin-top: -10px;
    }

    .gv-trip-chart {


        width: 100%;

        .gv-chart-wrapper {
            width:50%;
            display: inline-block;
            margin: 0px;
        }


        .gv-bar {
            display: block;
            height: 12px;
            margin: 0px;

            &.gv-imports {
                background-color:$exports;
                float: right;
            }

            &.gv-exports {
                background-color:$imports;
            }

        }
    }

    .gv-trip {
        margin-bottom: 30px;

        h3 {
            @include fs-headline(2);
            font-weight: bolder;
        }
    
    }
    


}
